.key{
    font-family: 'Ubuntu', sans-serif;
    border-radius: 5px;
    color: #EEEEEE;
    background-color: #333333;
    text-align: center;
    font-size: 52px;
    height: 85%;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.big{
    width: 150px;
    font-size: 42px;
}