.container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    width: 67px;
    height: 58px;
    background: #9c9797;
    border-radius: 3px;
    color: white;
}

.container:hover{
    cursor: pointer;
}