.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    box-sizing: border-box;
    border: 2px solid gray;
    color: white;
    font-size: 36px;
    font-family: 'Ubuntu', sans-serif;
}

.badPosition{
    background: rgb(201, 165, 8);
}

.correct{
    background: rgb(17, 204, 0);
}