.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    box-sizing: border-box;
    border: 2px solid gray;
    color: white;
    font-size: 36px;
    font-family: 'Ubuntu', sans-serif;
}

.badPosition{
    background: rgb(245, 202, 12);
}

.correct{
    background: rgb(53, 201, 23);
}