.container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 26px;
    width: 43px;
    height: 58px;
    background: #9c9797;
    border-radius: 3px;
    color: white;
}

.container:hover{
    cursor: pointer;
}

.yellow{
    background: rgb(201, 165, 8);;
}

.green{
    background: rgb(17, 204, 0);
}

.black{
    background: #6b6a6a;
}

@media (max-width: 550px) {
    .container{
        width: 36px;
    }
}